@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

#asleep-in-armageddon q {
	font-style: italic;
}

#asleep-in-armageddon q em {
	font-style: normal;
}

#pillar-of-fire blockquote {
	text-align: center;
}

#a-little-journey blockquote > header {
	text-align: center;
	font-variant: small-caps;
}
